/* START MAIN RULEZ */

.container {
  width: 1170px;
  margin: auto;
}

/* END MAIN RULEZ */

/* START HEADER BAR */
.header .navbar {
  color: #000;
  background-color: #252f31;
  overflow: hidden;
}

.header .slider .intro {
  height: 360px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 250px;
}

.header .slider h2 {
  margin: 0 50px;
  font-size: 50px;
  width: 300px;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
  padding: 5px 0;
  color: #fff;
}

.header .navbar h2 {
  color: #fff;
  padding-top: 34px;
}

.header .navbar h2 span {
  color: #2ecc71;
}

.header .navbar ul {
  list-style: none;
  padding-left: 0;
  overflow: hidden;
  float: right;
}
.header .navbar ul li {
  float: left;
  padding: 10px;
}

.header .navbar ul li a {
  color: #fff;
  text-decoration: none;
}

.header .navbar ul li a:hover {
  color: #308576;
  text-decoration: none;
}

.header .navbar ul li.active a {
  color: #308576;
  text-decoration: none;
}
/* END HEADER BAR */

/* Start My Frame Work */

.fl-left {
  float: left;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  padding: 9px 76px;
  margin: -4px;
}

.fl-left li {
  float: left;
  padding: 8px;
}

p {
  color: #fff;
  margin: 50px 50px 10px;
  margin-left: -600px;
  line-height: 1.8;
}

p span {
  font-weight: bold;
  font-size: 23px;
  /* display: block; */
  margin-left: -143px;
}

h3,
h2 {
  color: #444;
}

.checked {
  color: orange;
}

.rate {
  float: left;
}
/* End My Frame Work */
